/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


 /*typography */

h1{
    font-size: 36px;
}
h2{
font-size: 28px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.mb-200{
    margin-bottom: 200px;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-flow: row wrap;
}
.main-heading{
    text-align: center;
}
.hero{
    text-align: center;
    padding: 170px 0 130px;
    background-color: #323347;
    background-image: url(../images/banner.svg);
    background-position: 0 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.hero-text{
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}
.hero-text {
    color: white;
}
.hero-text h1{
     padding: 15px;
    font-weight: bold;
}
.justify-between{
    justify-content: space-between;
}
.logo{
    color: white;
    text-transform: uppercase;
}

.nav-bar li a{
    text-transform: uppercase;
}
header{
    padding-top: 30px;
}
.nav-bar li{
    padding-left: 20px;
    display: block;
}